[dev]
ip_address = 127.0.0.1
port_number = 5555
log_folder_path = D:\250923\logs 
database_url = mssql+pyodbc://DESKTOP-IANNR28/comms?driver=ODBC+Driver+17+for+SQL+Server

[prod]
ip_address = 127.0.0.1
port_number = 5555
database_url = mssql+pyodbc://DESKTOP-IANNR28/comms?driver=ODBC+Driver+17+for+SQL+Server
